<div class="container_big-card">

  <div class="big-card_photo">
    <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
     alt=""
     height="250px"
     width="400px"
     >

  </div>

  <div class="big-card_title">
   <h1> <a href="#"> Nova noticia angular</a> </h1>
  </div>
  <div class="big-card_description">
    <p>
      <a href="#"> ipsum, dolor sit amet
       consectetur adipisicing elit. Neque doloribus laborum inventore dolor obcaecati impedit amet ad!
        Maxime atque temporibus quidem velit, natus veniam illo commodi, ex minus et placeat. </a>
      </p>
  </div>


</div>
